# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/

# Node
node_modules/

# .NET / C#
bin/
obj/
*.user
*.suo
.vs/
*.nupkg
*.snupkg
*.log

# pcap / captures
*.pcap
*.pcapng
*.cap